{% extends "base.html" %}

{% set title = "heating" %}

<!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="static/images/logo.png" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#light">LIGHT</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#ventilation">VENTILATION</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#security">SECURITY</a> </li>
                                <li class="nav-item"><a class="nav-link" href="{{ url('logout') }}">LOGOUT</a> </li>
                                {% if user %}
                                <li class="nav-item"><a class="nav-link" href="#">Hello {{ user.name }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="section light-bg" id="heating">
        <div class="container">
            <div class="section-title">
                <small>HEATING</small>
                <h3>Heating system</h3>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src="static/images/screen1.jpg" alt="image">
                <img src="static/images/screen2.jpg" alt="image">
                <img src="static/images/screen3.jpg" alt="image">
                <img src="static/images/screen1.jpg" alt="image">
            </div>

        </div>

    </div>
    <!-- // end .section -->

