<!--ba/templates/index.html-->

{% extends "base.html" %}

{% set title = "Main" %}

{% block content %}
<!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="static/images/logo.png" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link" href="#light">LIGHT</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#heating">HEATING</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#ventilation">VENTILATION</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#security">SECURITY</a> </li>
                                <li class="nav-item"><a class="nav-link" href="{{ url('logout') }}">LOGOUT</a> </li>
                                {% if user %}
                                <li class="nav-item"><a class="nav-link" href="#">Hello {{ user.name }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Mobile App Landing Page Template</h1>
            <p class="tagline">The one and only solution for any kind of mobila app landing needs. Just change the screenshots and texts and you are good to go. </p>
        </div>
        <div class="img-holder mt-3"><img src="static/images/iphonex.png" alt="phone" class="img-fluid"></div>
</header>

    <div class="client-logos my-5">
        <div class="container text-center">
            <img src="static/images/client-logos.png" alt="client logos" class="img-fluid">
        </div>
    </div>

{% endblock %}
